/db/
/StockCrawler/config.yaml
/SemanticKernelService/appsettings.json
/SemanticKernelService/obj/
/SemanticKernelService/bin/
/StockForecastWeb/public/01.png
/StockForecastWeb/public/02.png
/StockForecastWeb/public/03.png
